:root{
    --bg-secondary: #1ABC9C;
    --bg-primary: #2C3E50;
    --bg-footer:#3A546D;
    --bg-dark: #0E38B5;
    --dark: #140F0F;
    --bg-tertiary: #1C83C1;
    --bg-lightblue: #1EA4B6;
    --bg-red: #BA4B63;
    --bg-light: #CCB2A3;

}

.profile_img{
    width: 270px;
    padding-top: 30px;
}

header{
    background-color: var(--bg-primary);
}


/* main */

.fa-dash{
    width: 65px;
    border: 1.5px solid white;
    border-radius: 1px;
    margin-bottom: 6.5px;
    
}

img{
    width: 100%;
}


.portfolio .fa-dash{
    border: 1.5px solid var(--bg-primary);

}

.main_title{
    background-color:var(--bg-secondary);
}

.main_about{
    background-color: var(--bg-secondary);
}

.btn-outline-secondary {
    color: white;
    border-color: white;

}


/* footer */

.footer_top{
    background-color: var(--bg-footer);
}

.footer_bottom{
    background-color: var(--bg-primary);
}

